@tailwind base;
@tailwind components;
@tailwind utilities;


  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #081932;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #103266; 
  border-radius: 2px;
}

/* Handle on hover */
.icon {
  transition: transform 0.3s ease;
}

.icon:hover {
  transform: scale(1.1); /* You can adjust the scale value to increase or decrease the glow effect */
}